
*.iml

*.xml

htdocs/.idea/.name

*.js

.idea/.name

*.css

*.png

*.php

*.pl

*.gif

*.html

*.hist

*.TTF

*.ico

webalizer/NOTEMPTY

*.cgi

*.fdb

*.dat

*.inc

*.tmp

*.jpg

*.log

xampp/sqlite/.htaccess

xampp/.version

*.sqlite3

kyc/

*.zip

*.shtml

*.css

*.css
